.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262524;

    .wrapper {
        width: 75vw;
        height: calc(100vh - 30px);
        border-radius: 6px;
        display: grid;
        grid-template-columns: 70px 1fr;
        overflow: hidden;

        .chat {
            
        }
    }
}